.main {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  display: flex;
  text-align: center;
  margin: 0;
  font-family: "General Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  font-size: 2em;
  color: rgb(64, 170, 206);
  outline-color: transparent; /* no glow */
  outline-style: none;
}

.input {
  margin: 2em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
